<div class="card">
  <div class="card-body">
    <h4 class="card-title mb-3">Run</h4>

    <form {{on "submit" (prevent-default this.execute)}}>
      {{#each this.queryFields as |field|}}
        <div class="form-group">
          <label><code>{{field.param.name}}</code> {{field.param.description}}</label>
          <input {{on "input" (set field.value (get _ "target.value"))}} value={{field.value}} class="form-control">

          {{#with field.param.example as |example|}}
            <small class="form-text text-muted">example: {{example}}</small>
          {{/with}}
        </div>
      {{/each}}

      <div>
        <a href={{this.constructedURL}}>{{this.constructedURL}}</a>
      </div>

      <div class="d-flex align-items-center mt-3">
        <button class="btn btn-primary mr-2" disabled={{this.isRunning}}>
          <FaIcon @icon="rocket" /> Execute
        </button>

        {{#if this.isRunning}}
          <FaIcon @icon="spinner" @pulse={{true}} @size="lg" />
        {{/if}}
      </div>
    </form>

    {{#if this.response}}
      <hr>

      <SparqletRunner::Response @response={{this.response}} />

      {{#if this.response.traces}}
        <hr>

        <SparqletRunner::Traces @elapsed={{this.response.elapsed}} @traces={{this.response.traces}} />
      {{/if}}
    {{/if}}
  </div>
</div>