<div class="card">
  <div class="card-body">
    <h4 class="card-title mb-3">Run</h4>

    <form {{on "submit" (prevent-default (perform this.execute))}}>
      {{#each this.queryFields as |field|}}
        <div class="form-group">
          <label><code>{{field.param.name}}</code> {{field.param.description}}</label>
          <input {{on "input" (fn this.setFieldValue field)}} value={{field.value}} class="form-control">

          {{#with field.param.example as |example|}}
            <small class="form-text text-muted">example: {{example}}</small>
          {{/with}}
        </div>
      {{/each}}

      <div>
        <a href={{this.constructedURL}}>{{this.constructedURL}}</a>
      </div>

      <div class="d-flex align-items-center mt-3">
        <button type="submit" class="btn btn-primary mr-2" disabled={{this.execute.isRunning}}>
          <FaIcon @icon="rocket" /> Execute
        </button>

        {{#if this.execute.isRunning}}
          <FaIcon @icon="spinner" @pulse={{true}} @size="lg" />
        {{/if}}
      </div>
    </form>

    {{#with this.execute.last.value as |response|}}
      <hr>

      <SparqletRunner::Response @response={{response}} />

      {{#if response.traces}}
        <hr>

        <SparqletRunner::Traces @elapsed={{response.elapsed}} @traces={{response.traces}} />
      {{/if}}
    {{/with}}
  </div>
</div>