<div class="card">
  <div class="card-body">
    <h4 class="card-title mb-3">Run</h4>

    <form {{on "submit" (prevent-default (perform this.execute))}}>
      {{#each this.queryFields as |field|}}
        <div class="form-group mt-3">
          <label><code>{{field.param.name}}</code> {{field.param.description}}</label>
          <input {{on "input" (fn this.setFieldValue field)}} value={{field.value}} class="form-control">

          {{#let field.param.example as |example|}}
            {{#if example}}
              <small class="form-text text-muted">example: {{example}}</small>
            {{/if}}
          {{/let}}
        </div>
      {{/each}}

      <div class="mt-3">
        <a href={{this.constructedURL}}>{{this.constructedURL}}</a>
      </div>

      <div class="d-flex align-items-center mt-3">
        <button type="submit" class="btn btn-primary me-2" disabled={{this.execute.isRunning}}>
          <FaIcon @icon="rocket" /> Execute
        </button>

        {{#if this.execute.isRunning}}
          <FaIcon @icon="spinner" @pulse={{true}} @size="lg" />
        {{/if}}
      </div>
    </form>

    {{#let this.execute.last.value as |response|}}
      {{#if response}}
        <hr>

        <SparqletRunner::Response @response={{response}} />

        {{#if response.traces}}
          <hr>

          <SparqletRunner::Traces @elapsed={{response.elapsed}} @traces={{response.traces}} />
        {{/if}}
      {{/if}}
    {{/let}}

    {{#let this.execute.last.error as |error|}}
      {{#if error}}
        <div class="alert alert-danger mt-3">{{error}}</div>
      {{/if}}
    {{/let}}
  </div>
</div>