{{#each this.error.errors as |error|}}
  <div class="alert alert-danger">
    <strong>Error</strong> {{error.detail}}
  </div>
{{/each}}

<div class="card mt-1">
  <form {{on "submit" (prevent-default this.save)}}>
    <div class="card-header d-flex align-items-center">
      <div class="me-auto">
        <strong>API code document</strong>

        {{#if @model.mdPath}}
          <div>{{@model.mdPath}}</div>
        {{else}}
          <div class="row row-cols-lg-auto g-0 align-items-center">
            <div class="col-auto">
              <input {{on "input" this.setName}} value={{@model.name}} class="form-control">
            </div>
            <div class="col-auto">
              <span>.md</span>
            </div>
          </div>
        {{/if}}
      </div>

      <div>
        <button type="submit" class="btn {{if @model.hasDirtyAttributes "btn-primary" "btn-outline-primary"}} float-right">
          <FaIcon @icon="save" /> Save
        </button>
      </div>
    </div>

    <div class="card-body">
      <IvyCodemirror @value={{@model.src}} @valueUpdated={{this.setSrc}} @options={{hash lineNumbers=true mode="markdown" theme="base16-light"}} />
    </div>
  </form>
</div>