{{#each this.error.errors as |error|}}
  <div class="alert alert-danger">
    <strong>Error</strong> {{error.detail}}
  </div>
{{/each}}

<div {{will-destroy this.revertUnsavedChanges}} class="card mt-1">
  <form {{on "submit" (prevent-default this.save)}}>
    <div class="card-header d-flex align-items-center">
      <div class="mr-auto">
        <strong>API code document</strong>

        {{#if @model.mdPath}}
          <div>{{@model.mdPath}}</div>
        {{else}}
          <div class="form-inline">
            <input {{on "input" (set @model.name (get _ "target.value"))}} value={{@model.name}} class="form-control">.md
          </div>
        {{/if}}
      </div>

      <div>
        <button class="btn {{if @model.hasDirtyAttributes "btn-primary" "btn-outline-primary"}} float-right">
          <FaIcon @icon="save" /> Save
        </button>
      </div>
    </div>

    <div class="card-body">
      <IvyCodemirror @value={{@model.src}} @valueUpdated={{set @model.src _}} @options={{hash lineNumbers=true mode="markdown" theme="base16-light"}} />
    </div>
  </form>
</div>