<div class="card">
  <CollectionSearch @collection={{@model}} @keys={{array "id" "src"}} as |search|>
    <div class="card-header d-flex">
      <LinkTo @route="sparqlets.new" @query={{hash forkFrom=null}} class="btn btn-primary mr-auto">
        <FaIcon @icon="plus-circle" /> New SPARQLet
      </LinkTo>

      <input {{on "input" (action search.update value="target.value")}} type="search" placeholder="Search" class="form-control">
    </div>

    <div class="list-group list-group-flush">
      {{#each (sort-by "id" search.result) as |sparqlet|}}
        <LinkTo @route="sparqlets.show" @model={{sparqlet.id}} class="list-group-item list-group-item-action">
          {{#if sparqlet.title}}
            {{sparqlet.id}} <span class="text-muted">- {{sparqlet.title}}</span>
          {{else}}
            {{sparqlet.id}}
          {{/if}}
        </LinkTo>
      {{/each}}
    </div>
  </CollectionSearch>
</div>