{{#link-to 'sparqlets.new' class='btn btn-primary mb-2'}}
  {{fa-icon 'plus-circle'}} New SPARQLet
{{/link-to}}

<div class="list-group">
  {{#each (sort-by "id" model) as |sparqlet|}}
    {{#link-to 'sparqlets.show' sparqlet.id class='list-group-item list-group-item-action'}}
      <div>
        {{#if sparqlet.title}}
          {{sparqlet.id}} <span class="text-muted">- {{sparqlet.title}}</span>
        {{else}}
          {{sparqlet.id}}
        {{/if}}
      </div>
    {{/link-to}}
  {{/each}}
</div>
