<h1>{{if model.title model.title model.id}}</h1>
<p>
  <a href="{{model.apiPath}}">{{path-to-url model.apiPath}}</a>
</p>

{{#each error.errors as |error|}}
  <div class="alert alert-danger">
    <strong>Error</strong> {{error.detail}}
  </div>
{{/each}}

{{sparqlet-runner apiPath=model.apiPath traceModeApiPath=model.traceModeApiPath params=model.params}}

<div class="card my-3">
  <div class="card-header d-flex align-items-center">
    <div class="mr-auto">
      <strong>API code document</strong>
      <div>{{model.mdPath}} <span class="text-muted">(version: {{model.mtime}})</span></div>
    </div>

    {{#if session.isAuthenticated}}
      <div>
        <button {{action 'fork' model}} class="btn btn-outline-primary">
          {{fa-icon 'code-fork'}} Fork
        </button>

        {{#link-to 'sparqlets.edit' model class="btn btn-outline-primary" role="button"}}
          {{fa-icon 'edit'}} Edit
        {{/link-to}}

        <button {{action 'delete' model}} class="btn btn-outline-danger">
          {{fa-icon 'trash'}} Delete
        </button>
      </div>
    {{/if}}
  </div>

  <div class="card-block">
    {{{model.html}}}
  </div>
</div>
