<div class="card">
  <div class="card-body">
    <h4 class="card-title mb-3">Run</h4>

    <form {{action "execute" on="submit"}}>
      {{#each actualParams as |param|}}
        <div class="form-group">
          <label><code>{{param.param.name}}</code> {{param.param.description}}</label>
          {{input value=(mut param.value) class="form-control"}}
        </div>
      {{/each}}

      <div>
        <a href={{actualPath}}>{{path-to-url actualPath}}</a>
      </div>

      <div class="d-flex align-items-center mt-3">
        <button class="btn btn-primary mr-2" disabled={{isRunning}}>
          {{fa-icon "rocket"}} Execute
        </button>

        {{#if isRunning}}
          {{fa-icon "spinner" pulse=true size="lg"}}
        {{/if}}
      </div>
    </form>

    {{#if response}}
      <hr>

      {{#if response.ok}}
        <h4>
          Response
          <span class="badge badge-success align-top">{{response.status}} {{response.statusText}}</span>
        </h4>

        <div class="card mt-3">
          <div class="card-header">
            Output

            {{#if response.contentType}}
              <span class="text-muted">
                <span class="mx-1">:</span>
                <small class="text-monospace">{{response.contentType}}</small>
              </span>
            {{/if}}
          </div>

          <div class="card-body">
            {{#if (type-is response.contentType "text/html")}}
              {{! template-lint-disable no-triple-curlies }}
              {{{response.results}}}
            {{else if (type-is response.contentType (array "json" "+json"))}}
              <pre><code>{{to-json response.results}}</code></pre>
            {{else}}
              <pre><code>{{response.results}}</code></pre>
            {{/if}}
          </div>
        </div>
      {{else}}
        <h4>
          Response
          <span class="badge badge-danger align-top">{{response.status}} {{response.statusText}}</span>
        </h4>

        <div class="card border-danger mt-3">
          <div class="card-header">
            Error
          </div>

          <div class="card-body">
            <pre><code>{{or response.error response.results}}</code></pre>
          </div>
        </div>
      {{/if}}

      {{#if response.traces}}
        <hr>

        <div class="d-flex align-items-center mt-3 mb-1">
          <h4 class="card-title mr-auto">Traces</h4>
          <small>{{fa-icon "clock"}} Total: {{response.elapsed}} ms</small>
        </div>

        <div class="traces">
          {{#each response.traces as |trace i|}}
            <div class="card mt-1 {{if trace.error "card-outline-danger"}}">
              <a data-target="#trace_{{i}}" data-toggle="collapse" class="card-header pl-3 d-flex align-items-center collapsed {{if trace.error "card-danger card-inverse"}}">
                <div>
                  {{fa-icon "chevron-right" fixedWidth=true}}
                  {{fa-icon "chevron-down" fixedWidth=true}}
                </div>

                <div class="mr-auto px-2">
                  {{#if trace.step.name}}
                    {{trace.step.name}}
                  {{else}}
                    <span class="font-italic">(no title)</span>
                  {{/if}}

                  <span class="text-muted">
                    <span class="mx-1">:</span>
                    <small class="text-monospace">{{trace.step.type}}</small>
                  </span>

                  {{#if trace.step.bindingName}}
                    {{fa-icon "arrow-right" size="xs" class="mx-1"}}
                    <code>{{trace.step.bindingName}}</code>
                  {{/if}}
                </div>

                <div>
                  <small>{{fa-icon "clock"}} {{trace.elapsed}} ms</small>
                </div>
              </a>

              <div class="collapse" id="trace_{{i}}">
                <div class="card-body">
                  {{#each trace.logEntries as |logEntry|}}
                    <div class="badge badge-default">{{logEntry.type}}</div>
                    <pre><code>{{logEntry.message}}</code></pre>
                  {{/each}}

                  {{#if trace.error}}
                    <div class="badge badge-danger">Error</div>
                    <pre><code>{{trace.error}}</code></pre>
                  {{else if trace.results}}
                    <div class="badge badge-success">Results</div>

                    {{#if (type-is trace.contentType (array "json" "+json"))}}
                      <pre><code>{{to-json trace.results}}</code></pre>
                    {{else}}
                      <pre><code>{{trace.results}}</code></pre>
                    {{/if}}
                  {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>