<div class="card">
  <div class="card-header">
    <div><strong>{{title}}</strong></div>
    <div>{{apiPath}}</div>
  </div>
  <div class="card-block">
    <h2>Request</h2>
    <form {{action "execute" on="submit"}}>
      {{#each params as |param|}}
      <div class="form-group">
        <label><code>{{param.name}}</code> {{param.description}}</label>
        {{input value=(mut (get actualParams param.name)) class="form-control"}}
      </div>
      {{/each}}
      <button class="btn btn-default" disabled={{isRunning}}>Execute</button>
      {{#if isRunning}}{{fa-icon 'spinner' pulse=true size='lg'}}{{/if}}
    </form>

    <div>
      {{actualPath}}
    </div>

    {{#if response}}
    <div>
      {{#if response.ok}}
        <h2>Response</h2>
        <div class="alert alert-success"><strong>{{response.status}}</strong> {{response.statusText}}</div>
        <div class="badge badge-primary">Results</div>
        <pre><code>{{to-json response.results}}</code></pre>
      {{else}}
        <h2>Error</h2>
        <div class="alert alert-danger"><strong>{{response.status}}</strong> {{response.statusText}}</div>
        <div class="badge badge-primary">Error</div>
        <pre><code>{{if response.error response.error response.results}}</code></pre>
      {{/if}}
    </div>
      {{#if response.traces}}
        <h2>Traces</h2>
        {{#each response.traces as |trace|}}
          <div class="card {{if trace.error 'card-outline-danger'}}" style="margin-top: 10px;">
            <div class="card-header {{if trace.error 'card-danger card-inverse'}}">
              {{trace.step.name}} <span class="badge badge-success">{{trace.step.type}}</span>
            </div>
            <div class="card-block">
              {{#each trace.logEntries as |logEntry|}}
                <div class="badge badge-default">{{logEntry.type}}</div>
                <pre><code>{{logEntry.message}}</code></pre>
              {{/each}}
              {{#unless trace.error}}
                {{#if trace.updatedContext}}
                  <div class="badge badge-info">Updated context</div>
                  <pre><code>{{to-json trace.updatedContext}}</code></pre>
                {{/if}}
                {{#if trace.results}}
                  <div class="badge badge-primary">Results</div>
                  <pre><code>{{to-json trace.results}}</code></pre>
                {{/if}}
              {{else}}
                <div class="badge badge-danger">Error</div>
                <pre><code>{{trace.error}}</code></pre>
              {{/unless}}
            </div>
          </div>
        {{/each}}
      {{/if}}
    {{/if}}

    {{yield}}
  </div>
</div>
